<div id="carousel">
    <div class="carousel-button" id="prev-button">
        <span class="material-icons-outlined">chevron_left</span>
    </div>
    <div id="carousel-items">
        <div class="photo-chat" id="discussion-display">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">45</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">10</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">8</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
        <div class="photo-chat">
            <img class="profile" src="/assets/images/profil.jpg" alt="bg">
            <div class="photo-container">Photo</div>
            <div class="photo-messages">13</div>
        </div>
    </div>

    <div class="carousel-button" id="next-button">
        <span class="material-icons-outlined">chevron_right</span>
    </div>
</div>