<div id="cases-container">
    <div class="case">
        <div class="top-part">
            <img class="fav-icon" src="../assets/images/star-regular.svg" alt="fav-button">
            <div class="tags">
                <div class="tag">Fumeur</div>
                <div class="tag">Parodontite</div>
                <div class="tag">Abcès</div>
            </div>
        </div>
        <div class="bottom-part">
            <span class="case-title">Abcès parodontal</span>
            <span class="case-description">Un jeune patient de 38ans s’est présenté en consultation au service d’Odontologie chirurgicale du Centre de Consultation et de Traitements Dentaires du CHU Ibn Rochd de Casablanca, pour une tuméfaction endobuccale de la région prémolaire mandibulaire droite... </span>
            <div class="author-comments">
                <div class="case-author">
                    <img src="../assets/images/profil.jpg" alt="bg">
                    <span class="case-author-name"> <strong>Mounia</strong> <br> Chirurgien Dentiste</span>
                </div>
                <div id="comments-rate">
                    <span class="rate">3.6</span>
                    <span class="comments">6</span>
                </div>
            </div>
        </div>
    </div>
    <div class="case">
        <div class="top-part">
            <img class="fav-icon" src="../assets/images/star-regular.svg" alt="fav-button">
            <div class="tags">
                <div class="tag">Greffe</div>
                <div class="tag">Gencive</div>
            </div>
        </div>
        <div class="bottom-part">
            <span class="case-title">Greffe de gencive</span>
            <span class="case-description">L’améloblastome est une tumeur odontogène, d’agressivité locale, avec un taux de transformation maligne très faible. Elle est néanmoins connue très récidivante après traitement. Il s’agit de la tumeur bénigne odontogène la plus fréquente dans les pays...</span>
            <div class="author-comments">
                <div class="case-author">
                    <img src="../assets/images/profil.jpg" alt="bg">
                    <span class="case-author-name"> <strong>Arthur</strong> <br> Etudiant </span>
                </div>
                <div id="comments-rate">
                    <span class="rate">4.8</span>
                    <span class="comments">17</span>
                </div>
            </div>
        </div>
    </div>
    <div class="case">
        <div class="top-part">
            <img class="fav-icon" src="../assets/images/star-regular.svg" alt="fav-button">
            <div class="tags">
                <div class="tag">Mâchoire</div>
                <div class="tag">Parodontite</div>
                <div class="tag">Extraction</div>
            </div>
        </div>
        <div class="bottom-part">
            <span class="case-title">Parodontie aïgue</span>
            <span class="case-description">L’énucléation et l’exérèse de la lésion avaient été réalisées sous anesthésie locorégionale. En macroscopie, la pièce opération était ferme avec des contours irréguliers (Fig. 5). L’examen anathomopathologique de la lésio révélait la présence de tumeur...</span>
            <div class="author-comments">
                <div class="case-author">
                    <img src="../assets/images/profil.jpg" alt="bg">
                    <span class="case-author-name"> <strong>Nikita</strong> <br> Implantologue</span>
                </div>
                <div id="comments-rate">
                    <span class="rate">4.6</span>
                    <span class="comments">13</span>
                </div>
            </div>
        </div>
    </div>
</div>