<header class="main-header">
    <nav class="navbar">
        <ul id="nav-list">
            <li>
                <a href="../views/publications.php">
                    <img id="profile" src="/assets/images/profil.jpg" alt="bg">
                </a>
            </li>
            <li>
                <a href="../views/home.php"> <span class="material-icons-outlined"> home  </span> </a>
            </li>
            <li>
                <a href="../views/favorites.php"> <span class="material-icons-outlined">  star_border </span> </a>
            </li>
            <li>
                <a href=""> <span class="material-icons-outlined"> notifications </span> </a>
            </li>

        </ul>
    </nav>
    <img id="pc_logo" src="/assets/images/logoBlancComplet.png" alt="logoBlancComplet">
    <img id="mob_logo" src="/assets/images/logoteeth_transparent.png" alt="mobile_logo">

    <a id="btn-add" href="../views/page_html_du_turfu_tu_va_voir.php"><button id="btn"> <span class="material-icons-outlined"> add </span> <span id="buttonText">Ajouter un cas clinique</span> </button></a>
</header>