<header class="main-header">
    <nav class="navbar">
        <ul>
            <li>
                <a href="profil.php">
                    <img id="profile" src="/assets/images/profil.jpg" alt="bg">
                </a>
            </li>
            <li>
                <a href=""> <span class="material-icons-outlined"> home  </span> </a>
            </li>
            <li>
                <a href=""> <span class="material-icons-outlined">  star_border </span> </a>
            </li>
            <li>
                <a href=""> <span class="material-icons-outlined"> notifications </span> </a>
            </li>

        </ul>
    </nav>
    <img id="pc_logo" src="/assets/images/logoBlancComplet.png" alt="logoBlancComplet">
    <img id="mob_logo" src="/assets/images/logoteeth_transparent.png" alt="mobile_logo">

    <button id="btn">  <span class="material-icons-outlined"> add </span> <span id="buttonText">Ajouter un cas clinique</span></button>
</header>