<div id="overlay-menu">
    <div id="menu">
        <div id="menu-header"> <span id="headertext">RECHERCHE PAR CATEGORIE</span><span class="material-icons-outlined" id="close" onclick="closeMenu()">chevron_left</span></div>
        <ul id="menu-items">
            <li id="pathology" onclick="changeText()">Pathologie<span id="pathology" class="material-icons-outlined">chevron_right</span></li>
            <li>Traitement<span class="material-icons-outlined">chevron_right</span></li>
            <li>Spécialité<span class="material-icons-outlined">chevron_right</span></li>
            <li>Anatomie<span class="material-icons-outlined">chevron_right</span></li>
        </ul>
    </div>
</div>