:root {
    --main: #03b6f0;
    --second: #bae6fa;
    --white: rgba(255, 250, 250, 1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.comment h1 {
    text-align: left;
    margin-bottom: 1em;
    font-size: 18px;
}

.number {
    color: var(--main);
    margin-right: 0.2em;
    text-align: left;
}

.container-comment {
    width: 45%;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    color: #474747;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.commentaire {
    display: flex;
    gap: 2em;
    margin-top: 3%;
    margin-left: 3%;
}

h3 {
    cursor: pointer;
}

.image {
    height: 5em;
    width: 5em;
    align-items: center;
    border-radius: 50%;
    background: rgba(196, 196, 196, 1);
    cursor: pointer;
}

.container-user-texte {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 75%;
}

.speudo-heure {
    display: flex;
    gap: 5%;
}

.form-comment {
    display: flex;
    border-radius: 0 0 16px 16px;
    background-color: var(--second);
    align-items: center;
    justify-content: space-between;
}

.form-comment textarea {
    width: 65%;
    font-style: none;
    border: none;
    resize: none;
    background-color: var(--second);
    padding-top: 5%;
    padding-left: 5%;
    border-radius: 0 16px;
}

#trombone {
    transform: rotate(50deg);
    cursor: pointer;
    font-size: 22px
}

.send {
    width: 35%;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    color: black;
}

#submit {
    border: 2px solid rgba(0, 0, 0, 1);
    background-color: #03b5f000;
    border-radius: 32px;
    padding: 0.5em;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 16px
}

#icon-send {
    transform: rotate(-50deg);
    display: block;
    font-size: 16px;
}

@media (max-width: 1000px) {
    .container-comment {
        width: 90%;
    }
    .container-user-texte {
        width: 70%;
        font-size: 14px;
    }
    #icon-send {
        font-size: 1em;
        margin-top: 6%;
    }
    #trombone {
        font-size: 1.3em;
    }
    .send {
        width: 35%;
    }
}

@media(max-width:600px) {
    .form-comment textarea {
        width: 55%;
        font-size: 14px
    }
    .send {
        width: 45%;
    }
    #submit,
    .commentaire {
        font-size: 14px
    }
}