* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    gap: 1em;
    margin-top: 2em;
}

#categories {
    border-radius: 16px 0px 0px 16px;
    background-color: #E5E5E5;
    font-size: 18px;
    color: #474747;
    height: 44px;
    border: none;
    cursor: pointer;
    padding-left: 8PX;
    padding-right: 8px;
}

#categories:hover {
    background-color: #d3d3d3
}

#searchInput {
    height: 44px;
    border: none;
    background-color: #BAE6FA;
    font-size: 18px;
    color: #6D6D6D;
    padding-left: 16px;
}

#searchLogo {
    height: 44px;
    background-color: #03B6F0;
    border-radius: 0px 16px 16px 0px;
    border: none;
}

#searchLogo .material-icons-outlined {
    transform: rotate(90deg);
    font-size: 44px;
    width: 54px;
    color: white;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

#searchLogo:hover {
    background-color: #008FBD
}

#overlay-menu {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    visibility: hidden;
    width: calc(100% - 8px);
    background-color: #00000045;
}

#menu {
    min-height: 100vh;
    background-color: white;
}

#menu-header {
    height: 64px;
    background-color: #03B6F0;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    line-height: 64px;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

.menu-title {
    color: #03B6F0;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding: 0 2em;
}

.menu-content {
    line-height: 24px;
    font-size: 20px;
    padding: 0 2.5em;
}

#menu-items {
    margin-top: 0;
    background-color: white;
    list-style: none;
    font-size: 24px;
    padding: 0 2em;
    overflow: hidden;
}

#menu-items li {
    line-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-items li .material-icons-outlined,
#menu-header .material-icons-outlined,
.home-title .material-icons-outlined {
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    align-self: center;
}

#carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    padding: 0 4em;
}

.photo-chat {
    height: 12em;
    width: 8em;
    background-color: #D5E7EC;
    position: relative;
    border-radius: 16px;
}

.photo-chat .profile {
    clip-path: ellipse(50% 50%);
    height: 44px;
    width: 44px;
    position: absolute;
    top: -12px;
    left: -12px;
}

.photo-container {
    line-height: 193px;
    text-align: center;
}

.photo-messages {
    clip-path: ellipse(50% 50%);
    height: 32px;
    width: 32px;
    background-color: #03B6F0;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
}

#close {
    cursor: pointer;
    padding-left: 1.5em;
}

.home-title {
    font-size: 1.5rem;
    color: #03B6F0;
    margin-bottom: 2em;
}

@media (max-width: 1200px) {
    #menu {
        width: 50vw;
    }
    #menu-header,
    #menu-items {
        font-size: 18px;
    }
}

@media (max-width:700px) {
    #menu {
        width: 90vw;
    }
    #categories,
    #searchInput {
        font-size: 16px;
    }
}

@media(max-width:400px) {
    #menu-header,
    #menu-items {
        font-size: 14px;
    }
}